.home-page_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap:10rem;
    padding: 5rem;
  .home-page_theme-card{
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 25vw;
    height: 30vh;
    .shade{
      top: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: linear-gradient(0deg, rgba(2,0,36,0.95) 20%, rgba(0,0,0,0) 55%);        
      @include media-max('desktop-up'){
          background: linear-gradient(0deg, rgba(2,0,36,0.95) 25%, rgba(0,0,0,0) 60%); 
      }
  }
    .home-page_theme-img{
      // position: relative;
      width: 100%;
    }
    .home-page_theme-title{
      z-index: 999;
      position: absolute;
      bottom: 5%;
      left: 5%;
      display: flex;
      flex-direction: column;
      color: white;
      .home-page_theme-name{
        font-size: 2.5rem;
        font-weight: bold;
      }
      .home-page_theme-label{
        font-size: 1.8rem;
      }
    }
  }



    .button {
        min-width: 300px;
        min-height: 60px;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #313133;
        background: #FCA311;
        background: linear-gradient(90deg, rgba(252,173,17,1) 0%, rgba(252,163,17,1) 100%);
        border: none;
        border-radius: 1000px;
        box-shadow: 12px 12px 24px rgba(252,163,17,.64);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;
        }
      
      button::before {
      content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #FCA311;
        box-shadow: 0 0 60px rgba(252,163,17,.64);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
      }
      
      .button:hover, .button:focus {
        color: #313133;
        transform: translateY(-6px);
      }
      
      button:hover::before, button:focus::before {
        opacity: 1;
      }
      
      button::after {
        content: '';
        width: 30px; height: 30px;
        border-radius: 100%;
        border: 6px solid #FCA311;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
      
      button:hover::after, button:focus::after {
        animation: none;
        display: none;
      }
      
      @keyframes ring {
        0% {
          width: 30px;
          height: 30px;
          opacity: 1;
        }
        100% {
          width: 300px;
          height: 300px;
          opacity: 0;
        }
      }
}