.form_error-message{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: red;
    font-weight: 800;
}

.form_error_submit-message{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: red;
    font-weight: 800;
    text-align: center;
}
.page-login_container{
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .login-container{
        width: 35%;
        height: 55%;
        @include media-max('desktop-up'){
            width: 90%;
            height: 70%;
        }
        //
        background: rgba($glass, 0.1);
        border-radius: 16px;
        box-shadow: -15px 10px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        // border: 1px solid rgba(255, 255, 255, 0.3);
        //
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        
        .form-login_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;
            width: 60%;
            @include media-max('tablet-up'){
              width: 90%;
            }
            .form-login_title{
                font-size: 3rem;
            }

            .form-login_form{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                width: 80%;

                .form-login_input-group{
                    width: 100%;
                     height: 100%;
                }
                .form-login_input{
                    border-radius: 5px;
                    padding: 1rem;
                    width: 100%;
                    height: 5rem;
                    border: none;
                    font-size: 1.6rem;
                    background: rgba(white, 0.1);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                }
                .form-login_submit{
                    cursor: pointer;
                    color: $black;
                    position: relative;
                    border-radius: 5px;
                    height: 5.5rem;
                    border: none;
                    font-size: 1.8rem;
                    background-color: $glass;
                    &::before{
                        border-radius: 5px;
                        transition: all .7s;
                        position: absolute;
                        z-index: -1;
                        content: '';
                        display: block;
                        text-align: center;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                    }
                    &::after{
                        border-radius: 5px;
                        transition: all .7s;
                        position: absolute;
                        z-index: -1;
                        content: '';
                        display: block;
                        text-align: center;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                    }
                    &:hover::after{
                        transition: all .7s;
                        left: 5%;
                        top: 20%;
                        background: rgba($glass, 0.4);
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    }
                    &:hover::before{
                        transition: all .7s;
                        left: -5%;
                        top: -20%;
                        background: rgba($glass, 0.4);
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    }
                }
                .form-login_to-register{
                    cursor: pointer;
                    font-size: 1.5rem;
                    border: none;
                    background-color: transparent;
                    text-align: end;
                    text-decoration: underline;
                }
            }
        }
    }
}

.magicpattern { 
    position: absolute;
    inset: 0;
    left: 20%;
    top: 55%;
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.3);
    @include square(25rem, $blue, 30deg);
    @include media-max('tablet-up'){
        @include square(15rem, $blue, 20deg);
        top: 75%;
        left: -5%;
    }
  }
  .magicpattern2{
    position: absolute;
    inset: 0;
    background-color: transparent;
    left: 50%;
    top: 3%;
    @include triangle(20rem, 12rem, $yellow, 20deg);
    @include media-max('tablet-up'){
        @include triangle(10rem, 8rem, $yellow, 220deg);
        left: 60%;
        top: 10%;
    }
  }
  .magicpattern3{
    z-index: 999; 
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    inset: 0;
    left: 65%;
    top: 55%;
    @include circle(22rem, $pink);
    @include media-max('tablet-up'){
        @include circle(15rem, $pink);
        z-index: inherit;
        top: 10%;
        left: -10%;
    }
  }
  .magicpattern4{
    position: absolute;
    inset: 0;
    left: -15%;
    top: -35%;
    box-shadow: -10px 7px 20px rgba(0, 0, 0, 0.3);
    @include circleEmpty(70rem,$purple, 50px);
    @include media-max('tablet-up'){
        @include circleEmpty(25rem,$purple, 20px);
        left: 70%;
        top: 60%;
    }
  }
  