.progressbar_container{
    position: absolute;
    width: 100%;
    height: 100%;
    .progressbar_bar-container{
        width: 100%;
        height: 100%;
        background-color: $background;
        .progressbar_bar-fill{
            transition: all 1s;
            height: 100%;
            background-color: $purple;
        }
    }
    .progressbar-completion-count{
        display: none;
        font-size: 2.5rem;
        font-style: italic;
    }
}