@mixin square ($size, $color, $rotate){
    width: $size;
    height: $size;
    border-radius: 20px;
    background-color: $color;
    transform: rotate($rotate);
}

@mixin triangle ($base, $side, $color, $rotate) {
    display : inline-block;
    height : 0;
    width : 0;
    border-right : $side solid transparent;
    border-bottom : $base solid $color;
    border-left : $side solid transparent;
    transform: rotate($rotate);
}

@mixin circle ($size, $color){
    width: $size;
    height: $size;
    background-color: $color;
    border-radius: 9999px;
}

@mixin circleEmpty ($size, $color, $border){
    width: $size;
    height: $size;
    background-color: transparent;
    border: $border solid $color;
    border-radius: 9999px;
}

@mixin egg ($width,$height, $color){
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

$breakpoints: (
  'phone-down': 500px,
  'tablet-up': 768px,
  'tablet-down': 900px,
  'desktop-up': 1024px,
  'desktop-down': 1280px,
  'widescreen-up': 1440px,
);

@mixin media-max($_key) {
  @media screen and (max-width: map-get($breakpoints, $_key)) {
    & {
      @content;
    }
  }
}